/_ReSharper.MSpriteRenderer (net-4.0-x86)
/MogreDependencies/obj
/MogreDependencies/bin
/MSpriteRenderer/obj
/MSpriteRenderer/bin
/MSpriteRenderer (net-4.0-x86).v11.suo
/MSpriteRenderer (net-4.0-x86).suo
